.wrapper {
    background-color: transparent;
    backdrop-filter: blur(30px);
    border: 2px solid (255,255,255, .2);
    box-shadow: 0 0 10px rgba(255,255,255,.2);
    border-radius: 20px;
    color: #fff;
    padding: 30px 40px;
    width: 420px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    height: 50px;
    margin: 20px 0 25px;
    position: relative;
    width: 100%;
}

.input-box input {
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    height: 100%;
    outline: none;
    padding: 20px 45px 20px 20px;
    width: 100%;
}

.input-box input:focus {
    border: 2px solid rgba(255,255,255,.8);
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .remember-forgot {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin: 10px 0 15px;
}

.wrapper .error-login {
    color: rgb(250, 73, 73);
    margin: 0 10px 20px;
}
.wrapper .login-success {
    color: rgb(12, 145, 0);
    margin: 0 10px 20px;
}

.wrapper .remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.wrapper .remember-forgot a { 
    color: #fff;
    text-decoration: none;
}

.wrapper .remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper button {
    background-color: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    outline: none;
    width: 100%;
}
.wrapper .register-link {
    font-size: 15px;
    margin-top: 20px ;
    text-align: center;
}

.wrapper p a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.wrapper p a:hover {
    text-decoration: underline;
}

